CONFIG_HID_GENERIC=y
CONFIG_LEDS_PWM=y
CONFIG_USB_HIDDEV=y
# CONFIG_VIDEO_GC2053 is not set
# CONFIG_VIDEO_GC4C33 is not set
# CONFIG_VIDEO_IMX347 is not set
# CONFIG_VIDEO_IMX307 is not set
# CONFIG_VIDEO_IMX378 is not set
# CONFIG_VIDEO_IMX415 is not set
# CONFIG_VIDEO_OS04A10 is not set
# CONFIG_VIDEO_OV2718 is not set
CONFIG_VIDEO_OV2740=y
# CONFIG_VIDEO_OV4689 is not set
CONFIG_RTL_WIRELESS_SOLUTION=y
CONFIG_BCMDHD=m
CONFIG_AP6XXX=m
# CONFIG_AP6XXX_WIFI6 is not set
# CONFIG_AP6XXX_INDEP_POWER is not set
CONFIG_BCMDHD_FW_PATH="/vendor/etc/firmware/fw_bcmdhd.bin"
CONFIG_BCMDHD_NVRAM_PATH="/vendor/etc/firmware/nvram.txt"
# CONFIG_BCMDHD_STATIC_IF is not set
CONFIG_DRM_FBDEV_EMULATION=y
CONFIG_ROCKCHIP_DRM_DEBUG=y
CONFIG_BBLAB_TIME_SYNC=y
CONFIG_TOUCHSCREEN_TLSC6X=y
CONFIG_TOUCHSCREEN_FTS=y
CONFIG_MEDIA_USB_SUPPORT=y
CONFIG_USB_VIDEO_CLASS=y
CONFIG_USB_VIDEO_CLASS_INPUT_EVDEV=y
CONFIG_USB_GSPCA=m
CONFIG_LOCKUP_DETECTOR=y
CONFIG_SOFTLOCKUP_DETECTOR=y
CONFIG_BOOTPARAM_HARDLOCKUP_PANIC=y
CONFIG_BOOTPARAM_SOFTLOCKUP_PANIC=y
CONFIG_BOOTPARAM_SOFTLOCKUP_PANIC_VALUE=1
CONFIG_PANIC_TIMEOUT=2
CONFIG_DETECT_HUNG_TASK=y
# CONFIG_BOOTPARAM_HUNG_TASK_PANIC is not set
CONFIG_WQ_WATCHDOG=y
# CONFIG_DEBUG_RT_MUTEXES is not set
# CONFIG_DEBUG_SPINLOCK is not set
# CONFIG_DEBUG_MUTEXES is not set
# CONFIG_DEBUG_ATOMIC_SLEEP is not set
CONFIG_BBL_KPANIC=y
CONFIG_BUILD_BIN2C=y
CONFIG_IKCONFIG=y
CONFIG_IKCONFIG_PROC=y
# CONFIG_HZ_300 is not set
CONFIG_HZ_1000=y
CONFIG_HZ=1000
# CONFIG_CFG80211_DEFAULT_PS is not set
CONFIG_CFG80211_DEBUGFS=y
CONFIG_WIFI_BUILD_MODULE=y
#CONFIG_WIFI_LOAD_DRIVER_WHEN_KERNEL_BOOTUP=y
CONFIG_FRAME_WARN=1280
# CONFIG_USB_XHCI_HCD is not set
CONFIG_WATCHDOG_PRETIMEOUT_GOV=y
# CONFIG_WATCHDOG_PRETIMEOUT_DEFAULT_GOV_NOOP is not set
CONFIG_WATCHDOG_PRETIMEOUT_DEFAULT_GOV_PANIC=y
# CONFIG_WATCHDOG_PRETIMEOUT_GOV_NOOP is not set
CONFIG_WATCHDOG_PRETIMEOUT_GOV_PANIC=y
# CONFIG_BBL_IOTRACE is not set
CONFIG_REALTEK_PHY=y
