// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2020 Rockchip Electronics Co., Ltd.
 */
/dts-v1/;
#include "rv1126.dtsi"
#include "rv1126-bl-p001-v3.dtsi"
/ {
	model = "Bamboo Lab 3D Printer P001 v05 Board panel_b";
	compatible = "rockchip,rv1126";

	chosen {
		bootargs = "earlycon=uart8250,mmio32,0xff570000 console=ttyFIQ0 root=PARTUUID=614e0000-0000 rootfstype=ext4 rootwait snd_aloop.index=7";
	};

	gpio-keys {
		compatible = "gpio-keys";
		#address-cells = <1>;
		#size-cells = <0>;

		e_stop {
			gpios = <&gpio2 RK_PC5 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_STOP>;
			label = "GPIO Key Stop";
			linux,input-type = <1>;
			gpio-key,wakeup = <1>;
			debounce-interval = <100>;
            pinctrl-names = "default";
            pinctrl-0 = <&e_stop_pin>;
		};

		wakeup {
			gpios = <&gpio0 RK_PA7 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_POWER>;
			label = "GPIO Wake Up";
			linux,input-type = <1>;
			gpio-key,wakeup = <1>;
			debounce-interval = <100>;
            pinctrl-names = "default";
            pinctrl-0 = <&wakeup_pin>;
		};

		open_door {
			gpios = <&gpio0 RK_PA6 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_OPEN>;
			label = "GPIO Open Door";
			linux,input-type = <1>;
			gpio-key,wakeup = <1>;
			debounce-interval = <100>;
            pinctrl-names = "default";
            pinctrl-0 = <&open_door_pin>;
		};
	};

	gpio-leds {
		compatible = "gpio-leds";

		work_led {
			gpios = <&gpio2 RK_PD7 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "timer";
		};

	    sys_led {
			gpios = <&gpio2 RK_PD4 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "none";
		};

	};
};

&pinctrl {
    lcd_rst {
        lcd_rst_gpio: lcd-rst-gpio {
            rockchip,pins = <2 RK_PA2 RK_FUNC_GPIO &pcfg_pull_none>;
        };
    };

	touth_panel {
		pinctrl_tlsc6x: pinctrl_tlsc6x {
			rockchip,pins =
				/* tp rst */
				<2 RK_PB2 RK_FUNC_GPIO &pcfg_pull_up>,
				/* tp int */
				<2 RK_PA6 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

    buttons {
        e_stop_pin: e_stop_pin {
			rockchip,pins = <2 RK_PC5 RK_FUNC_GPIO &pcfg_pull_up>;
        };

        wakeup_pin: wakeup_pin {
			rockchip,pins = <0 RK_PA7 RK_FUNC_GPIO &pcfg_pull_up>;
        };

        open_door_pin: open_door_pin {
			rockchip,pins = <0 RK_PA6 RK_FUNC_GPIO &pcfg_pull_up>;
        };
    };

    leds {
        work_led_pin: work_led_pin {
			rockchip,pins = <2 RK_PD7 RK_FUNC_GPIO &pcfg_pull_down>;
        };

        sys_led_pin: sys_led_pin {
			rockchip,pins = <2 RK_PD5 RK_FUNC_GPIO &pcfg_pull_down>;
        };
    };

};

&pwm4 {
	status = "okay";
	pinctrl-names = "active";
	pinctrl-0 = <&pwm4m1_pins_pull_down>;
};

&backlight {
	status = "okay";
    pwms = <&pwm4 0 25000 0>;
	pwm-names = "backlight";
	enable-gpios = <&gpio1 RK_PD7 GPIO_ACTIVE_HIGH>;
};

&dsi {
	status = "okay";

    rockchip,lane-rate = <480>;
	panel@0 {
		compatible = "simple-panel-dsi";
		reg = <0>;
		backlight = <&backlight>;
		power-supply = <&vcc_1v8>;
		prepare-delay-ms = <5>;
		reset-delay-ms = <1>;
		init-delay-ms = <80>;
		disable-delay-ms = <10>;
		unprepare-delay-ms = <5>;

        reset-gpios = <&gpio2 RK_PA2 GPIO_ACTIVE_LOW>;
        pinctrl-names = "default";
        pinctrl-0 = <&lcd_rst_gpio>;

		width-mm = <68>;
		height-mm = <121>;

		dsi,flags = <(MIPI_DSI_MODE_VIDEO | MIPI_DSI_MODE_VIDEO_BURST |
			      MIPI_DSI_MODE_LPM | MIPI_DSI_MODE_EOT_PACKET)>;
		dsi,format = <MIPI_DSI_FMT_RGB888>;
		dsi,lanes = <4>;

		panel-init-sequence = [
			39 00 04 B9 F1 12 83
			39 00 04 B2 C8 12 F0
			39 00 0B B3 10 10 28 28 03 FF 00 00 00 00
			39 00 02 B4 80
			39 00 03 B5 13 13
			39 00 03 B6 6B 6B
			39 00 02 B8 26
			39 00 1C BA 33 81 05 F9 0E 06 20 00 00 00 00 00 00 00 44 25 00 91 0A 00 00 01 4F 01 00 00 37
			39 00 02 BC 4E
			39 00 04 BF 02 11 00
			39 00 0A C0 73 73 50 50 00 00 12 70 00
			39 00 0D C1 84 00 32 32 99 F1 AF AF 8C 8C 37 37
			39 00 07 C6 82 00 BF FF 00 E0
			39 00 02 CC 0B
			39 00 23 E0 00 1A 1F 2D 32 3F 4F 41 07 0C 0C 11 12 10 13 11 19 00 1A 1F 2D 32 3F 4F 41 07 0C 0C 11 12 10 13 11 19
			39 00 0F E3 03 03 03 03 00 03 00 00 00 00 FF 80 C0 10
			39 00 40 E9 C8 10 06 05 01 80 5C 12 31 23 4F 82 80 5C 47 08 00 20 02 00 00 00 00 20 02 00 00 00 F5 88 87 75 53 31 11 88 88 88 88 F4 88 86 64 42 20 00 88 88 88 88 00 00 00 00 00 00 00 00 00 00 00 00 00
			39 00 3E EA 00 1A 00 00 00 00 02 00 00 00 00 00 80 F8 80 02 24 46 64 88 88 88 88 81 F8 81 13 35 57 75 88 88 88 88 23 00 00 00 C6 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 40 80 5C 00 00 00 00
			39 00 02 C7 10
			05 FA 01 11
			05 32 01 29
			];

        panel-exit-sequence = [
            05 14 01 28
            05 32 01 10
            ];

        display-timings {
			native-mode = <&timing0>;

			timing0: timing0 {
				clock-frequency = <71000000>;
				hactive = <720>;
				vactive = <1280>;
				hfront-porch = <100>;
				hsync-len = <30>;
				hback-porch = <70>;
				vfront-porch = <16>;
				vsync-len = <2>;
				vback-porch = <10>;
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <0>;
				pixelclk-active = <0>;
			};
		};

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				panel_in_dsi: endpoint {
					remote-endpoint = <&dsi_out_panel>;
				};
			};
		};
	};

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@1 {
			reg = <1>;
			dsi_out_panel: endpoint {
				remote-endpoint = <&panel_in_dsi>;
			};
		};
	};

};

&i2c1 {
	status = "okay";
	clock-frequency = <400000>;

	ov2740: ov2740@36 {
		compatible = "ovti,ov2740";
		reg = <0x36>;

		clocks = <&cru CLK_MIPICSI_OUT>;
		clock-names = "xvclk";

		power-domains = <&power RV1126_PD_VI>;
		pinctrl-names = "rockchip,camera_default";
		pinctrl-0 = <&mipicsi_clk0>;
		power-gpios = <&gpio3 RK_PA6 GPIO_ACTIVE_HIGH>;
		pwdn-gpios = <&gpio1 RK_PD4 GPIO_ACTIVE_LOW>;
		reset-gpios = <&gpio1 RK_PD4 GPIO_ACTIVE_LOW>;
		vsync-gpios = <&gpio1 RK_PD5 GPIO_ACTIVE_HIGH>;

		avdd-supply = <&vcc_avdd>;
		dovdd-supply = <&vcc_dovdd>;
		dvdd-supply = <&vcc_dvdd>;

		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "front";
		rockchip,camera-module-name = "YT-RV1109-2-V1";
		rockchip,camera-module-lens-name = "40IR-2MP-F20";
		port {
			reg = <0x7010 0x100>;
			ucam_out0: endpoint {
				remote-endpoint = <&mipi_in_ucam0>;
				data-lanes = <1 2>;
			};
		};
	};
};

&i2c5 {
	status = "okay";
	pinctrl-0 = <&i2c5m2_xfer>;
	clock-frequency = <400000>;

	tlsc6x_ts@2e {
		compatible = "tlsc6x,tlsc6x_ts";
		reg = <0x2e>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_tlsc6x>;
		tlsc6x,irq-gpio = <&gpio2 RK_PA6 IRQ_TYPE_EDGE_FALLING>;
		tlsc6x,reset-gpio = <&gpio2 RK_PB2 GPIO_ACTIVE_LOW>;
		TP_MAX_X = <720>;
		TP_MAX_Y = <1280>;
	};
};

&uart1 {
    status = "okay";
    pinctrl-names = "default";
    dma-names = "tx", "rx";
    pinctrl-0 = <&uart1m0_xfer>;
};

&sdmmc {
        max-frequency = <25000000>;
};
